.search {
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
    display: block;
  }
}

.row {
  width: 25%;
  height: 100%;
}

@media (max-width: 768px) {
  .row {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .row {
    width: 100%;
  }
}

.name {
  display: block;
  align-items: center;
  font-size: 10px;
  flood-color: never;
  font-family: 'pokemon-font', monospace;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}